body {
  letter-spacing: 2px;
  font-family: cursive;
}

p {
  line-height: 25px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
  letter-spacing: 0.7px;
  font-family: auto;
}

.back {
  text-decoration: none;
  border: 2px solid #ac436d;
  border-radius: 20px;
  padding: 9px 18px;
  color: #ac436d;
}

.back:hover {
  background: #952860;
  color: #fff;
  transition-duration: 0.5ms;
}

/* header */
.header {
  padding: 5px 0px;
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
  align-items: center;
}
.header .add {
  background: #fff;
  color: #aa416d;
  text-decoration: none;
  padding: 9px 15px;
  height: 43px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
}

.header .head-title {
  color: #6a0532;
  text-decoration: none;
  font-size: 35px;
}

/* recipe */
.recipe .card {
  box-shadow: 0px 0px 10px grey;
  border-radius: 10px;
  height: 100%;
}

.recipe h1 {
  color: #6a0532;
  font-size: 23px;
  font-weight: 600;
}

.recipe a {
  text-decoration: none;
}

/* .addrecipe */
.addrecipe .card {
  padding: 30px;
  box-shadow: 0px 0px 10px grey;
  background: #ffa69e40;
}

.addrecipe button {
  background: #92245e;
  padding: 9px 18px;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: #fff;
}

/* recipe details */
.recipe-details h1 {
  color: #92245e;
}

.recipe-details label {
  color: #050597;
  font-size: 22px;
  font-weight: 600;
}
.recipe-details .card {
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px grey;
}
